Repository project-hikkoshiori/hikkoshiori, changes with the labels that .github/labeler.yml gives for each.
All labels: 環境整備, CI/CD, バックエンド, フロントエンド, DB

.github/labeler.yml:

環境整備:
  - docs/**/*
CI/CD:
  - .github/**/*
バックエンド:
  - server/**/*
フロントエンド:
  - front/**/*
DB:
  - db/**/*

fix func name
  server/app/controllers/property.py
Labels: バックエンド

implement abstract parser
  server/app/controllers/property_collector.py
  server/app/tests/property_html/homes_example00.html
  server/app/tests/property_html/homes_example01.html
  server/app/tests/property_html/homes_example02.html
  server/app/tests/test_property_homes_parser.py
Labels: バックエンド

implement homes parser
  server/app/controllers/property_collector.py
  server/app/tests/test_property_collector.py
  server/app/tests/test_property_homes_parser.py
Labels: バックエンド

fix knowledge_lists -> advices
  docs/ER.md
Labels: 環境整備

fix models.schmas.property.Property inheritance
  server/app/models/schemas/property.py
Labels: バックエンド

review修正
  server/app/controllers/advice.py
  server/app/models/db/advice_db.py
  server/app/models/schemas/advice.py
Labels: バックエンド

とりあえず必要なスキーマ揃えた
  db/01_schema.sql
  db/02_data.sql
  docs/ER.md
  front/app/package-lock.json
Labels: 環境整備, フロントエンド, DB

loginのpost実装
  server/app/controllers/property.py
  server/app/controllers/property_collector.py
  server/app/controllers/user.py
  server/app/models/db/property_db.py
  server/app/models/db/user_db.py
  server/app/models/schemas/user.py
  server/app/routers/router.py
  server/app/tests/test_property_collector.py
  server/app/tests/test_property_homes_parser.py
  server/poetry.lock
  server/pyproject.toml
Labels: バックエンド

set for properly language detection
  .gitattributes
Labels: none

fix .gitattributes
  .gitattributes
Labels: none

users/meが叩ける状態になった
  server/app/controllers/user.py
  server/app/models/schemas/token.py
  server/poetry.lock
  server/pyproject.toml
Labels: バックエンド

update bookmark db
  db/01_schema.sql
  db/02_data.sql
  docs/ER.md
Labels: 環境整備, DB

fix
  .pre-commit-config.yaml
  .vscode/settings.json
  server/app/controllers/property.py
  server/app/controllers/property_collector.py
  server/app/controllers/user.py
  server/app/env.py
  server/app/models/db/property_db.py
  server/app/tests/test_property_collector.py
  server/app/tests/test_property_homes_parser.py
Labels: バックエンド

vscode設定消した
  .vscode/settings.json
Labels: none

passwordをresponseから抜いた
  server/app/models/schemas/user.py
Labels: バックエンド

usersをauthとに分割した
  db/01_schema.sql
  db/02_data.sql
  server/app/controllers/user.py
  server/app/models/db/auth_db.py
  server/app/models/db/user_db.py
  server/app/models/schemas/auth.py
  server/app/models/schemas/user.py
Labels: バックエンド, DB

er図更新
  docs/ER.md
Labels: 環境整備

implement get_properties
  db/01_schema.sql
  docs/ER.md
  server/app/controllers/property.py
  server/app/models/db/bookmark_db.py
  server/app/models/schemas/bookmark.py
  server/app/models/schemas/property.py
Labels: 環境整備, バックエンド, DB

WIP add/remove bookmarks endpoint definition
  server/app/controllers/property.py
  server/app/models/db/property_db.py
  server/app/models/schemas/bookmark.py
Labels: バックエンド

fix typo
  server/app/controllers/property.py
Labels: バックエンド

add api util
  front/app/src/api/APIUtils.tsx
Labels: フロントエンド

fix type
  front/app/src/components/advice/AdviceCell.tsx
  front/app/src/utils/types.ts
Labels: フロントエンド

use API
  front/app/pages/advice/index.tsx
  front/app/src/api/AdviceAPI.tsx
Labels: フロントエンド

fix db name
  db/01_schema.sql
Labels: DB

implement add and remove bookmark method
  server/app/controllers/property.py
  server/app/models/db/bookmark_db.py
  server/app/models/db/property_db.py
  server/app/models/schemas/bookmark.py
Labels: バックエンド

fix bookmark -> bookmarks
  db/01_schema.sql
  db/02_data.sql
  docs/ER.md
Labels: 環境整備, DB

implement
  server/app/controllers/property.py
  server/app/models/db/bookmark_db.py
  server/app/models/schemas/bookmark.py
Labels: バックエンド

GCPからログインできるようにした
  .gitignore
  client.env
  client_secret.env
  db/01_schema.sql
  db/02_data.sql
  docker-compose.yml
  front/app/.eslintrc.json
  front/app/package-lock.json
  front/app/package.json
  front/app/pages/_app.tsx
  front/app/pages/api/auth/[...nextauth].js
  front/app/pages/index.tsx
  front/app/src/components/top/LoggedOutTop.tsx
  server/app/controllers/user.py
  server/app/models/schemas/auth.py
  server/app/models/schemas/token.py
  server/app/routers/router.py
Labels: バックエンド, フロントエンド, DB

fix eslint
  .gitignore
  client_secret.env
  front/app/.babelrc
  front/app/.eslintrc.json
  front/app/package-lock.json
  front/app/package.json
Labels: フロントエンド

rm
  client_secret.env
Labels: none

rm not need file
  front/app/.babelrc
  front/app/pages/api/auth/[...nextauth].js
Labels: フロントエンド

ボタンのデザイン戻した
  front/app/src/components/top/LoggedOutTop.tsx
Labels: フロントエンド

add post advice
  front/app/pages/advice/post/index.tsx
  front/app/src/api/APIUtils.tsx
  front/app/src/api/AdviceAPI.tsx
Labels: フロントエンド

add link
  front/app/pages/advice/index.tsx
  front/app/pages/advice/post/index.tsx
Labels: フロントエンド

implement add/delete bookmark
  db/01_schema.sql
  db/02_data.sql
  docs/ER.md
  server/app/controllers/property.py
  server/app/models/db/bookmark_db.py
  server/app/models/schemas/bookmark.py
  server/app/models/schemas/property.py
Labels: 環境整備, バックエンド, DB

fix funcname get property
  server/app/controllers/property.py
Labels: バックエンド

get one advice
  server/app/controllers/advice.py
  server/app/models/db/advice_db.py
Labels: バックエンド

add line
  .gitignore
Labels: none

update icon
  front/app/public/favicon.ico
  front/app/public/icon.png
  front/app/public/top.png
Labels: フロントエンド

icon width fix
  front/app/src/components/header.tsx
Labels: フロントエンド
