Repository project-hikkoshiori/hikkoshiori, changes with the labels that .github/labeler.yml gives for each.
All labels: 環境整備, CI/CD, バックエンド, フロントエンド, DB

.github/labeler.yml:

環境整備:
  - docs/**/*
CI/CD:
  - .github/**/*
バックエンド:
  - server/**/*
フロントエンド:
  - front/**/*
DB:
  - db/**/*

add-front-setup
  .pre-commit-config.yaml
  client.env
  docker-compose.yml
  front/Dockerfile
  front/app/.eslintrc.json
  front/app/.gitignore
  front/app/README.md
  front/app/next.config.js
  front/app/package-lock.json
  front/app/package.json
  front/app/pages/_app.tsx
  front/app/pages/api/hello.ts
  front/app/pages/index.tsx
  front/app/public/favicon.ico
  front/app/public/vercel.svg
  front/app/styles/Home.module.css
  front/app/styles/globals.css
  front/app/tsconfig.json
Labels: フロントエンド

add-docs
  README.md
Labels: none

server-front-db
  client.env
  front/app/package-lock.json
  front/app/package.json
  front/app/pages/fetcher.ts
  front/app/pages/index.tsx
  server/app/main.py
Labels: バックエンド, フロントエンド

fix-dir
  .github/workflows/pytest.yml
  docker-compose.yml
  server/app/env.py
  server/app/logger.py
  server/app/main.py
  server/app/middlewares.py
  server/app/setup.py
  server/app/tests/test_main.py
Labels: CI/CD, バックエンド

remove-unneed-import
  server/app/setup.py
Labels: バックエンド

addMC
  server/app/controllers/__init__.py
  server/app/controllers/db_test.py
  server/app/controllers/hello.py
  server/app/main.py
  server/app/models/__init__.py
  server/app/routers/__init__.py
  server/app/routers/router.py
  server/app/setup.py
Labels: バックエンド

fix-test-main
  server/app/tests/test_main.py
Labels: バックエンド

add chakraui package
  front/app/package-lock.json
  front/app/package.json
Labels: フロントエンド

setup chakraui
  front/app/pages/_app.tsx
Labels: フロントエンド

color setting
  front/app/pages/_app.tsx
Labels: フロントエンド

add-front.yml
  .github/workflows/front.yml
Labels: CI/CD

working-directory指定
  .github/workflows/front.yml
Labels: CI/CD

fix-path
  .github/workflows/front.yml
Labels: CI/CD

テスト内容を変更
  .github/workflows/front.yml
  front/app/components/fetcher.ts
  front/app/pages/index.tsx
Labels: CI/CD, フロントエンド

fix-dirs
  front/app/pages/api/hello.ts
  front/app/pages/index.tsx
  front/app/src/components/.gitkeep
  front/app/src/utils/fetcher.ts
Labels: フロントエンド

icon追加とtabまで
  front/app/package-lock.json
  front/app/package.json
  front/app/pages/properties/index.tsx
  front/app/src/components/BookmarkSection.tsx
Labels: フロントエンド

add-css
  front/app/pages/properties/index.tsx
  front/app/src/components/BookmarkSection.tsx
Labels: フロントエンド

add-bookmarkWindow
  front/app/src/components/BookmarkSection.tsx
  front/app/src/components/BookmarkWindow.tsx
  front/app/src/utils/types.ts
Labels: フロントエンド

改行
  front/app/src/utils/types.ts
Labels: フロントエンド

add header file
  front/app/src/components/header.tsx
Labels: フロントエンド

add @chakra-ui/icons
  front/app/package-lock.json
  front/app/package.json
Labels: フロントエンド

layout header for all page
  front/app/pages/_app.tsx
  front/app/src/utils/layout.tsx
Labels: フロントエンド

design header
  front/app/public/icon.png
  front/app/public/logo.png
  front/app/src/components/header.tsx
Labels: フロントエンド

open sidebar whenheader button click
  front/app/src/components/header.tsx
  front/app/src/components/sidebar.tsx
Labels: フロントエンド

show image on top
  front/app/pages/index.tsx
  front/app/public/top.png
Labels: フロントエンド

show button on top page
  front/app/pages/index.tsx
  front/app/src/components/TopPageButton.tsx
Labels: フロントエンド

add logged out top page
  front/app/pages/index.tsx
Labels: フロントエンド

add "osusume" sentence
  front/app/pages/index.tsx
Labels: フロントエンド

add advicee page
  front/app/pages/advice/index.tsx
Labels: フロントエンド

fix link
  front/app/src/components/sidebar.tsx
Labels: フロントエンド

show advice cells
  front/app/pages/advice/index.tsx
  front/app/src/components/AdviceCell.tsx
Labels: フロントエンド

design AdviceCell
  front/app/src/components/AdviceCell.tsx
Labels: フロントエンド

move advices to center
  front/app/pages/advice/index.tsx
Labels: フロントエンド

add-windows
  front/app/pages/properties/index.tsx
  front/app/src/components/BookmarkSection.tsx
  front/app/src/components/BookmarkWindow.tsx
  front/app/src/utils/types.ts
Labels: フロントエンド

情報を追加
  front/app/src/components/BookmarkSection.tsx
  front/app/src/components/BookmarkWindow.tsx
  front/app/src/utils/types.ts
Labels: フロントエンド

for odd layout
  front/app/pages/advice/index.tsx
Labels: フロントエンド

use Advice type
  front/app/pages/advice/index.tsx
  front/app/src/components/AdviceCell.tsx
  front/app/src/utils/types.ts
Labels: フロントエンド

show advice count
  front/app/pages/advice/index.tsx
Labels: フロントエンド

add advice panel
  front/app/pages/advice/index.tsx
  front/app/src/components/AdviceSearchPanel.tsx
Labels: フロントエンド

design search panel
  front/app/src/components/AdviceSearchPanel.tsx
Labels: フロントエンド
