Repository project-hikkoshiori/hikkoshiori, changes with the labels that .github/labeler.yml gives for each.
All labels: 環境整備, CI/CD, バックエンド, フロントエンド, DB

fix design
  front/app/pages/submit-paper/index.tsx
  front/app/pages/submit-paper/question/index.tsx
  front/app/src/components/submit-paper/Question.tsx
Labels: フロントエンド

add submit-paper top page
  front/app/pages/submit-paper/index.tsx
  front/app/src/components/sidebar.tsx
Labels: フロントエンド

change icon
  front/app/src/components/submit-paper/PaperResultSection.tsx
Labels: フロントエンド

add question screen
  front/app/pages/submit-paper/index.tsx
  front/app/pages/submit-paper/question/index.tsx
Labels: フロントエンド

add regenerate button
  front/app/pages/submit-paper/result/index.tsx
Labels: フロントエンド

add result component
  front/app/src/components/submit-paper/WeitingResult.tsx
Labels: フロントエンド

検索部分の色をいい感じに下
  front/app/src/components/properties/PropertySearchSection.tsx
Labels: フロントエンド

スクロールバーのスタイル
  front/app/src/components/properties/PropertySearchSection.tsx
Labels: フロントエンド

DB設計
  db/01_schema.sql
  db/02_data.sql
  docs/ER.md
Labels: 環境整備, DB

timestampいれた
  db/02_data.sql
Labels: DB

改行
  db/01_schema.sql
Labels: DB

fix type
  front/app/pages/submit-paper/question/index.tsx
  front/app/src/components/submit-paper/Question.tsx
  front/app/src/utils/types.ts
Labels: フロントエンド

fix type
  front/app/pages/submit-paper/question/index.tsx
Labels: フロントエンド

add result page
  front/app/pages/layout/result/index.tsx
  front/app/src/components/sidebar.tsx
Labels: フロントエンド

getAdvices立ててみた
  server/app/controllers/advice.py
  server/app/db.py
  server/app/models/db/advice_db.py
  server/app/models/schemas/advice.py
  server/app/routers/router.py
  server/poetry.lock
  server/pyproject.toml
Labels: バックエンド

delete-test
  server/app/tests/test_main.py
Labels: バックエンド

add test
  server/app/tests/test_advice.py
Labels: バックエンド

add tendacy
  front/app/pages/layout/result/index.tsx
  front/app/src/components/layout/LayoutTendacy.tsx
  front/app/src/components/layout/LayoutTendacyList.tsx
Labels: フロントエンド

fix layout
  front/app/pages/layout/result/index.tsx
Labels: フロントエンド

add layout top page
  front/app/pages/layout/index.tsx
  front/app/src/components/sidebar.tsx
Labels: フロントエンド

fix question type name
  front/app/pages/submit-paper/question/index.tsx
  front/app/src/components/submit-paper/Question.tsx
  front/app/src/utils/types.ts
Labels: フロントエンド

add rest page
  front/app/pages/layout/question/index.tsx
  front/app/src/components/layout/Question.tsx
  front/app/src/components/layout/WeitingResult.tsx
  front/app/src/utils/types.ts
Labels: フロントエンド

fix image design
  front/app/src/components/layout/LayoutImage.tsx
  front/app/src/components/layout/Question.tsx
Labels: フロントエンド

remove unused import
  front/app/src/components/layout/Question.tsx
Labels: フロントエンド

update ER map for properties
  docs/ER.md
Labels: 環境整備

fix column naming etc.
  docs/ER.md
Labels: 環境整備

add log
  server/app/controllers/advice.py
Labels: バックエンド

fix age of building -> age_of_building
  docs/ER.md
Labels: 環境整備

housekeep model
  front/app/package-lock.json
  server/app/controllers/housekeep.py
  server/app/models/housekeep.py
Labels: バックエンド, フロントエンド

AddAdvice作った
  front/app/package-lock.json
  server/app/controllers/advice.py
  server/app/models/db/advice_db.py
  server/app/models/schemas/advice.py
Labels: バックエンド, フロントエンド

update fetch_at to ER mao
  docs/ER.md
Labels: 環境整備

add property DB definition and pydantic schema
  server/app/models/db/property_db.py
  server/app/models/schemas/property.py
Labels: バックエンド

housekeep :modelの整備　controllersを調べながら整備中
  .DS_Store
  server/Dockerfile
  server/app/controllers/housekeep.py
  server/app/models/housekeep.py
  server/app/routers/router.py
Labels: バックエンド

add `orm_mode` on pydantic property model
  server/app/models/schemas/property.py
Labels: バックエンド

delete garbege import
  server/app/models/db/property_db.py
Labels: バックエンド

add bookmark table
  server/app/models/db/bookmark_db.py
  server/app/models/schemas/bookmark.py
Labels: バックエンド

implement suumo parser
  server/app/controllers/property_collector.py
  server/app/tests/property_html/suumo_example00.html
  server/app/tests/property_html/suumo_example01.html
  server/app/tests/property_html/suumo_example02.html
  server/app/tests/test_property_collector.py
  server/poetry.lock
  server/pyproject.toml
Labels: バックエンド

add DB initial value
  db/01_schema.sql
  db/02_data.sql
Labels: DB

fix fixtures path
  server/app/tests/test_property_collector.py
Labels: バックエンド

implement fetchPropertyFromURL post method
  server/app/controllers/property.py
  server/app/controllers/property_collector.py
  server/app/models/db/property_db.py
  server/app/models/schemas/property.py
  server/app/routers/router.py
Labels: バックエンド

.github/labeler.yml:

環境整備:
  - docs/**/*
CI/CD:
  - .github/**/*
バックエンド:
  - server/**/*
フロントエンド:
  - front/**/*
DB:
  - db/**/*
