Repository project-hikkoshiori/hikkoshiori, changes with the labels that .github/labeler.yml gives for each.
All labels: 環境整備, CI/CD, バックエンド, フロントエンド, DB

.github/labeler.yml:

環境整備:
  - docs/**/*
CI/CD:
  - .github/**/*
バックエンド:
  - server/**/*
フロントエンド:
  - front/**/*
DB:
  - db/**/*

hoge
  heroku.yml
Labels: none

test
  amplify.yml
Labels: none

change-build-export
  front/app/package.json
Labels: フロントエンド

HouseKeepTable scheme and python
  server/app/models/db/housekeep_table_db.py
  server/app/models/schemas/housekeep_table.py
Labels: バックエンド

get tables
  server/app/controllers/housekeep.py
Labels: バックエンド

fix
  front/app/next.config.js
Labels: フロントエンド

fix2
  front/app/next.config.js
Labels: フロントエンド

add-error-page
  front/app/pages/_error.tsx
Labels: フロントエンド

fix-buildDir
  amplify.yml
  front/app/next.config.js
Labels: フロントエンド

hoge
  .github/workflows/deploy_server.yml
  Procfile
  heroku.yml
  requirements.txt
  runtime.txt
  server.env
  server/Dockerfile
  server/Procfile
  server/app/controllers/advice.py
  server/app/env.py
  server/app/models/db/advice_db.py
  server/heroku.yml
  server/requirements.txt
  server/runtime.txt
Labels: CI/CD, バックエンド

delete-run
  .github/workflows/deploy_server.yml
  server/heroku.yml
Labels: CI/CD, バックエンド

hoge
  .github/workflows/deploy_server.yml
Labels: CI/CD

fix
  heroku.yml
Labels: none

add housekeep_column python scheems
  server/app/models/db/housekeep_column_db.py
  server/app/models/schemas/housekeep_column.py
Labels: バックエンド

fix api
  server/app/controllers/housekeep.py
Labels: バックエンド

delete unused import
  server/app/models/schemas/housekeep_column.py
Labels: バックエンド

cache固定
  server/Dockerfile
Labels: バックエンド

g
  .github/workflows/deploy_server.yml
  server/heroku.yml
Labels: CI/CD, バックエンド

fix-enum
  front/app/src/utils/convert.ts
  front/app/src/utils/types.ts
Labels: フロントエンド

fixpath
  amplify.yml
Labels: none

改行
  amplify.yml
Labels: none

housekeep column post
  server/app/controllers/housekeep.py
  server/app/models/db/housekeep_column_db.py
  server/app/models/db/housekeep_table_db.py
Labels: バックエンド

add delete method
  server/app/controllers/housekeep.py
  server/app/models/db/housekeep_column_db.py
Labels: バックエンド

update method
  server/app/controllers/housekeep.py
  server/app/models/db/housekeep_column_db.py
Labels: バックエンド

fix datacheck method
  server/app/models/db/housekeep_column_db.py
Labels: バックエンド

add-heroku
  .github/workflows/heroku_server.yml
  server/Procfile
  server/Stage_Dockerfile
  server/heroku.yml
  server/poetry.lock
  server/pyproject.toml
  server/requirements.txt
  server/runtime.txt
Labels: CI/CD, バックエンド

requirements.txt変えてみた
  server/requirements.txt
Labels: バックエンド

heroku deploy試す
  .github/workflows/heroku_server.yml
  Procfile
  heroku.yml
  requirements.txt
  runtime.txt
Labels: CI/CD

ModuleNotFoundError対応
  Procfile
  heroku.yml
  server/Procfile
Labels: バックエンド

add initialize method
  server/app/controllers/housekeep.py
  server/app/models/db/housekeep_db.py
Labels: バックエンド

file構成に合わせて変更
  Procfile
  heroku.yml
  server/Procfile
Labels: バックエンド

fix-env
  server.env
  server/app/controllers/advice.py
  server/app/env.py
  server/app/models/db/advice_db.py
Labels: バックエンド

raise exception
  server/app/controllers/housekeep.py
Labels: バックエンド

remove unused import
  server/app/models/db/housekeep_db.py
  server/app/models/db/housekeep_table_db.py
Labels: バックエンド

fix message
  server/app/controllers/housekeep.py
Labels: バックエンド

DB_PATHのデプロイ用の変換
  server.env
  server/app/env.py
Labels: バックエンド

ルートディレクトリのファイルをいくつか消しておく
  Procfile
  requirements.txt
Labels: none

起動時にテーブル作るようにする
  server/app/db.py
Labels: バックエンド

手動でテーブル作ることにした
  server/app/db.py
Labels: バックエンド

remove unused limport
  server/app/models/db/housekeep_column_db.py
Labels: バックエンド
