Repository project-hikkoshiori/hikkoshiori, changes with the labels that .github/labeler.yml gives for each.
All labels: 環境整備, CI/CD, バックエンド, フロントエンド, DB

.github/labeler.yml:

環境整備:
  - docs/**/*
CI/CD:
  - .github/**/*
バックエンド:
  - server/**/*
フロントエンド:
  - front/**/*
DB:
  - db/**/*

ログアウト機能の追加
  front/app/pages/_app.tsx
  front/app/src/components/header.tsx
Labels: フロントエンド

db definition
  db/01_schema.sql
  docs/ER.md
  server/app/models/db/property_db.py
Labels: 環境整備, バックエンド, DB

update .gitigonore
  .gitignore
Labels: none

show pointer on header logo and icon
  front/app/src/components/header.tsx
Labels: フロントエンド

ユーザー情報登録フォーム
  front/app/pages/users/mypage/index.tsx
  front/app/pages/users/register/index.tsx
  front/app/src/components/header.tsx
  front/app/src/utils/convert.ts
  front/app/src/utils/types.ts
Labels: フロントエンド

getUserとaddUserたてた
  db/01_schema.sql
  db/02_data.sql
  server/app/controllers/user.py
  server/app/models/db/user_db.py
  server/app/models/schemas/user.py
  server/app/routers/router.py
Labels: バックエンド, DB

add metatag
  front/app/pages/_app.tsx
Labels: フロントエンド

add link
  front/app/src/components/sidebar.tsx
  front/app/src/components/top/LoggedInTop.tsx
  front/app/src/components/top/LoggedOutTop.tsx
Labels: フロントエンド

remove unused import
  front/app/pages/_app.tsx
Labels: フロントエンド

bookmark link available
  front/app/pages/properties/index.tsx
Labels: フロントエンド

sidebar closable
  front/app/src/components/sidebar.tsx
Labels: フロントエンド

add page
  front/app/pages/advice/[id]/index.tsx
Labels: フロントエンド

get action
  front/app/pages/advice/[id]/index.tsx
  front/app/src/api/APIUtils.tsx
  front/app/src/api/AdviceAPI.tsx
Labels: フロントエンド

addd advice id
  front/app/src/api/APIUtils.tsx
  front/app/src/components/advice/AdviceCell.tsx
  front/app/src/utils/types.ts
Labels: フロントエンド

show advice
  front/app/pages/advice/[id]/index.tsx
Labels: フロントエンド

deploy
  front/Dev_Dockerfile
  front/Dockerfile
  front/app/package.json
  front/init.sh
Labels: フロントエンド

deploy
  server/Dev_Dockerfile
  server/app/env.py
Labels: バックエンド

test
  .github/workflows/deploy_heroku_server.yml
  .gitignore
  docker-compose.yml
  docs/DEPLOY.md
  server.env
  server/Dockerfile
  server/Procfile
  server/heroku.yml
  server/requirements.txt
  server/runtime.txt
Labels: 環境整備, CI/CD, バックエンド

fix env
  server.env
  server/Dockerfile
  server/app/env.py
Labels: バックエンド

implement baseline
  db/02_data.sql
  server/app/controllers/property.py
  server/app/controllers/property_collector.py
  server/app/models/db/property_db.py
  server/app/tests/test_property_collector.py
Labels: バックエンド, DB

implement fetch images
  db/01_schema.sql
  server/app/controllers/property.py
  server/app/controllers/property_collector.py
  server/app/models/db/property_db.py
  server/app/models/schemas/property.py
Labels: バックエンド, DB

fix test
  server/app/tests/test_property_collector.py
Labels: バックエンド

fix newline and docs definition
  db/01_schema.sql
  db/02_data.sql
  docs/ER.md
Labels: 環境整備, DB

add housekeeps schema
  db/01_schema.sql
Labels: DB

fix base class of `_prase_image_links`
  server/app/controllers/property_collector.py
Labels: バックエンド

initial data
  db/02_data.sql
Labels: DB

テストでlinks がリストのママになっていたのを修正
  server/app/tests/test_property_collector.py
Labels: バックエンド

rename
  .github/workflows/deploy_heroku_server.yml
Labels: CI/CD

fix sql
  db/01_schema.sql
Labels: DB

fix id
  db/02_data.sql
Labels: DB

defining class architecture.
  server/app/controllers/layout_controller.py
  server/app/controllers/layout_maker.py
  server/app/models/db/user_db.py
  server/app/models/schemas/_layout/__init__.py
  server/app/models/schemas/_layout/base_layout_model.py
  server/app/models/schemas/_layout/demo_generate_image.py
  server/app/models/schemas/layout.py
  server/app/models/schemas/user.py
Labels: バックエンド

add python schema
  server/app/models/schemas/housekeep.py
Labels: バックエンド

hoge
  server/heroku.yml
Labels: バックエンド

hoge
  server/heroku.yml
Labels: バックエンド

fix-for-deploy
  server/heroku.yml
Labels: バックエンド

add housekeeps db python file
  server/app/models/db/housekeep_db.py
Labels: バックエンド

add controller
  server/app/controllers/housekeep.py
  server/app/routers/router.py
Labels: バックエンド

hoge
  server/heroku.yml
Labels: バックエンド

複製
  Procfile
  heroku.yml
  requirements.txt
Labels: none

複製2
  heroku.yml
Labels: none
