Repository project-hikkoshiori/hikkoshiori, changes with the labels that .github/labeler.yml gives for each.
All labels: 環境整備, CI/CD, バックエンド, フロントエンド, DB

.github/labeler.yml:

環境整備:
  - docs/**/*
CI/CD:
  - .github/**/*
バックエンド:
  - server/**/*
フロントエンド:
  - front/**/*
DB:
  - db/**/*

update-docs
  .gitignore
  docs/DEPLOY.md
Labels: 環境整備

いったんheroku消した
  .github/workflows/heroku_server.yml
  amplify.yml
Labels: CI/CD

file構成戻した
  Procfile
  requirements.txt
Labels: none

fix
  Procfile
  heroku.yml
  server/Procfile
Labels: バックエンド

test2
  Procfile
  heroku.yml
  requirements.txt
  server/Procfile
Labels: バックエンド

add-cd
  server/Procfile
Labels: バックエンド

finish
  docs/DEPLOY.md
  front/app/pages/_error.tsx
Labels: 環境整備, フロントエンド

frontのデプロイ
  .github/workflows/heroku_front.yml
  front/app/package.json
Labels: CI/CD, フロントエンド

workflow命名変えた
  .github/workflows/heroku_front.yml
  .github/workflows/heroku_server.yml
Labels: CI/CD

add-heroku.yml
  front/Procfile
  front/Stage_Dockerfile
  front/heroku.yml
Labels: フロントエンド

fix
  front/Procfile
  front/heroku.yml
Labels: フロントエンド

fix
  .github/workflows/heroku_server.yml
Labels: CI/CD

add-default-dir
  .github/workflows/heroku_server.yml
Labels: CI/CD

hoge
  .github/workflows/heroku_server.yml
Labels: CI/CD

fix
  .github/workflows/heroku_server.yml
Labels: CI/CD

file
  .github/workflows/heroku_server.yml
  heroku.yml
Labels: CI/CD

delete files and 手動デプロイ
  .github/workflows/heroku_server.yml
  heroku.yml
  runtime.txt
Labels: CI/CD

front deploy 準備
  front/Stage_Dockerfile
  front/app/package.json
  front/heroku.yml
Labels: フロントエンド

fix
  front/Dockerfile
  front/Stage_Dockerfile
  front/heroku.yml
Labels: フロントエンド

delete-proc
  server/Procfile
  server/heroku.yml
Labels: バックエンド

docs追加
  docs/DEPLOY.md
  server/heroku.yml
Labels: 環境整備, バックエンド

Procひっすっぽい
  server/Procfile
  server/heroku.yml
Labels: バックエンド

serverがダメで
  server/Procfile
Labels: バックエンド

corsの設定
  server/app/middlewares.py
Labels: バックエンド

ログインした後すぐにregisterへ行くようにした
  front/app/pages/users/register/index.tsx
  front/app/src/api/UserAPI.tsx
  front/app/src/components/top/LoggedInTop.tsx
  front/app/src/utils/types.ts
  server/app/controllers/user.py
  server/app/models/db/user_db.py
Labels: バックエンド, フロントエンド

とりあえずtypesに追従
  front/app/src/components/properties/BookmarkSection.tsx
  front/app/src/components/properties/BookmarkWindow.tsx
  front/app/src/components/properties/PropertySearchSection.tsx
  front/app/src/components/properties/PropertySearchWindow.tsx
  front/app/src/utils/types.ts
Labels: フロントエンド

bookmarkedPropertiesにつなげた
  front/app/src/api/BookmarkedPropertyAPI.tsx
  front/app/src/components/properties/BookmarkSection.tsx
  front/app/src/utils/types.ts
Labels: フロントエンド

fetch coordinates into additional_info of property
  server/app/controllers/property_collector.py
  server/app/tests/test_fetch_lng_lat_from_address.py
  server/app/tests/test_property_collector.py
Labels: バックエンド

pathなおした
  front/app/src/api/BookmarkedPropertyAPI.tsx
Labels: フロントエンド

add API
  front/app/src/api/HousekeepAPI.tsx
Labels: フロントエンド

add post column
  front/app/src/api/HousekeepAPI.tsx
  front/app/src/components/houseKeep/HouseKeepSection.tsx
Labels: フロントエンド

pass housekeep data
  front/app/pages/housekeep/index.tsx
  front/app/src/api/HousekeepAPI.tsx
  front/app/src/components/houseKeep/HouseKeepList.tsx
  front/app/src/components/houseKeep/HouseKeepSection.tsx
Labels: フロントエンド

add delete
  front/app/src/api/APIUtils.tsx
  front/app/src/api/HousekeepAPI.tsx
  front/app/src/components/houseKeep/HouseKeepRow.tsx
  front/app/src/components/houseKeep/HouseKeepSection.tsx
Labels: フロントエンド

use same format at row
  front/app/src/components/houseKeep/HouseKeepRow.tsx
Labels: フロントエンド

add put
  front/app/src/api/APIUtils.tsx
  front/app/src/api/HousekeepAPI.tsx
  front/app/src/components/houseKeep/HouseKeepRow.tsx
  front/app/src/components/houseKeep/HouseKeepSection.tsx
Labels: フロントエンド

fix poperty name
  front/app/src/components/houseKeep/HouseKeepRow.tsx
  front/app/src/components/houseKeep/HouseKeepSection.tsx
Labels: フロントエンド

set sum
  front/app/src/components/houseKeep/HouseKeepList.tsx
  front/app/src/components/houseKeep/HouseKeepRow.tsx
  front/app/src/components/houseKeep/HouseKeepSection.tsx
Labels: フロントエンド

format sum
  front/app/src/components/houseKeep/HouseKeepList.tsx
Labels: フロントエンド

fix type
  front/app/src/utils/types.ts
Labels: フロントエンド

returnid on create
  server/app/controllers/housekeep.py
  server/app/models/db/housekeep_column_db.py
Labels: バックエンド
