Repository project-hikkoshiori/hikkoshiori, changes with the labels that .github/labeler.yml gives for each.
All labels: 環境整備, CI/CD, バックエンド, フロントエンド, DB

.github/labeler.yml:

環境整備:
  - docs/**/*
CI/CD:
  - .github/**/*
バックエンド:
  - server/**/*
フロントエンド:
  - front/**/*
DB:
  - db/**/*

add data add function
  front/app/src/components/HoouseKeepList.tsx
  front/app/src/components/HouseKeepSection.tsx
  front/app/src/utils/types.ts
Labels: フロントエンド

pass initial data to row
  front/app/src/components/HouseKeepRow.tsx
  front/app/src/components/HouseKeepSection.tsx
Labels: フロントエンド

add delete action
  front/app/src/components/HouseKeepRow.tsx
  front/app/src/components/HouseKeepSection.tsx
Labels: フロントエンド

set shadow to appear scrollable
  front/app/src/components/HoouseKeepList.tsx
Labels: フロントエンド

fix typo
  front/app/pages/housekeep/index.tsx
  front/app/src/components/HouseKeepList.tsx
Labels: フロントエンド

devide to file
  front/app/pages/advice/index.tsx
  front/app/pages/index.tsx
  front/app/src/components/advice/AdviceCell.tsx
  front/app/src/components/advice/AdviceSearchPanel.tsx
  front/app/src/components/houseKeep/HouseKeepList.tsx
  front/app/src/components/houseKeep/HouseKeepRow.tsx
  front/app/src/components/houseKeep/HouseKeepSection.tsx
  front/app/src/components/top/LoggedInTop.tsx
  front/app/src/components/top/LoggedOutTop.tsx
  front/app/src/components/top/TopPageButton.tsx
Labels: フロントエンド

fix inport
  front/app/pages/housekeep/index.tsx
  front/app/src/components/top/LoggedInTop.tsx
  front/app/src/components/top/LoggedOutTop.tsx
Labels: フロントエンド

add-address
  front/app/package-lock.json
  front/app/package.json
  front/app/src/components/properties/BookmarkSection.tsx
  front/app/src/components/properties/Map.tsx
  front/app/src/components/properties/PropertySearchMap.tsx
  front/app/src/components/properties/PropertySearchSection.tsx
Labels: フロントエンド

デフォルトの表記を変更
  front/app/src/components/properties/Map.tsx
Labels: フロントエンド

bookmarkのmap表示toggle
  front/app/src/components/properties/BookmarkSection.tsx
Labels: フロントエンド

mockデータ戻した
  front/app/src/components/properties/BookmarkSection.tsx
  front/app/src/components/properties/PropertySearchSection.tsx
Labels: フロントエンド

Dockerfile draft for small images
  server/Dockerfile
Labels: バックエンド

Replacement for poetry
  docker-compose.yml
  server/Dockerfile
  server/README.md
  server/poetry/poetry.lock
  server/poetry/pyproject.toml
  server/requirements.txt
Labels: バックエンド

change volume mount point
  docker-compose.yml
  server/Dockerfile
  server/poetry.lock
  server/pyproject.toml
Labels: バックエンド

update server/README.md
  server/README.md
Labels: バックエンド

Settings for pytest CI
  .github/workflows/pytest.yml
  server/app/tests/__init__.py
Labels: CI/CD, バックエンド

Not creating virtual-envs in CI
  .github/workflows/pytest.yml
Labels: CI/CD

test
  front/app/package.json
Labels: フロントエンド

chenge-dir
  .github/workflows/front_deploy.yml
Labels: CI/CD

change-flow
  .github/workflows/front_deploy.yml
Labels: CI/CD

画像周りの設定の更新
  front/app/next.config.js
Labels: フロントエンド

deploy: 6752aff1f2d2cf5f40122157c4cec2da6df87597
  .nojekyll
Labels: none

マップのmarkerを動的に処理
  front/app/src/components/properties/BookmarkSection.tsx
  front/app/src/components/properties/Map.tsx
  front/app/src/components/properties/PropertySearchSection.tsx
  front/app/src/utils/types.ts
Labels: フロントエンド

popup追加
  front/app/src/components/properties/Map.tsx
Labels: フロントエンド

add-window-to-popup
  front/app/src/components/properties/Map.tsx
Labels: フロントエンド

検索と結果表示を追加
  front/app/src/components/properties/PropertySearchSection.tsx
Labels: フロントエンド

propertyとbookmarkでwindowをわけた
  front/app/src/components/properties/PropertySearchSection.tsx
  front/app/src/components/properties/PropertySearchWindow.tsx
Labels: フロントエンド

ヒストグラムとsliderが出るようにした
  front/app/package-lock.json
  front/app/package.json
  front/app/src/components/properties/PropertyRentHist.tsx
  front/app/src/components/properties/PropertySearchSection.tsx
Labels: フロントエンド

slideで値が変わるようにした
  front/app/src/components/properties/PropertyRentHist.tsx
  front/app/src/components/properties/PropertySearchSection.tsx
Labels: フロントエンド

add submit paper result page
  front/app/pages/submit-paper/result/index.tsx
  front/app/public/Arrow.png
  front/app/src/components/sidebar.tsx
Labels: フロントエンド

add components
  front/app/pages/submit-paper/result/index.tsx
  front/app/src/components/submit-paper/PaperResultList.tsx
  front/app/src/components/submit-paper/PaperResultSection.tsx
Labels: フロントエンド

divide ExternalLink to component
  front/app/src/components/ExternalLink.tsx
  front/app/src/components/submit-paper/PaperResultSection.tsx
Labels: フロントエンド

add divider between section
  front/app/src/components/submit-paper/PaperResultList.tsx
Labels: フロントエンド

スライダー対応など
  front/app/src/components/properties/PropertyRentHist.tsx
  front/app/src/components/properties/PropertySearchSection.tsx
Labels: フロントエンド

add reacticons
  front/app/package-lock.json
  front/app/package.json
Labels: フロントエンド

set regenerate button link
  front/app/pages/submit-paper/result/index.tsx
Labels: フロントエンド

devide question to component
  front/app/pages/submit-paper/question/index.tsx
  front/app/src/components/submit-paper/Question.tsx
  front/app/src/utils/types.ts
Labels: フロントエンド

delete unused import
  front/app/src/components/submit-paper/PaperResultSection.tsx
Labels: フロントエンド

move pages by ckick button
  front/app/pages/submit-paper/question/index.tsx
  front/app/src/components/submit-paper/Question.tsx
Labels: フロントエンド

show result component
  front/app/pages/submit-paper/question/index.tsx
Labels: フロントエンド
