Repository project-hikkoshiori/hikkoshiori, changes with the labels that .github/labeler.yml gives for each.
All labels: 環境整備, CI/CD, バックエンド, フロントエンド, DB

.github/labeler.yml:

環境整備:
  - docs/**/*
CI/CD:
  - .github/**/*
バックエンド:
  - server/**/*
フロントエンド:
  - front/**/*
DB:
  - db/**/*

ログ変えた
  server/app/controllers/housekeep.py
  server/app/controllers/user.py
  server/app/models/db/housekeep_db.py
Labels: バックエンド

add data
  db/02_data.sql
Labels: DB

fix type
  front/app/src/utils/types.ts
Labels: フロントエンド

show correct position
  front/app/src/components/properties/Map.tsx
Labels: フロントエンド

backendにfilter立てた
  server/app/controllers/advice.py
  server/app/controllers/housekeep.py
  server/app/models/db/advice_db.py
  server/app/models/db/housekeep_db.py
  server/app/models/schemas/advice.py
Labels: バックエンド

frontのつなぎできた
  front/app/pages/advice/index.tsx
  front/app/src/api/AdviceAPI.tsx
  front/app/src/components/advice/AdviceSearchPanel.tsx
Labels: フロントエンド

nameけした
  server/app/models/db/advice_db.py
  server/app/models/schemas/advice.py
Labels: バックエンド

delete-log
  front/app/next.config.js
  front/app/package-lock.json
  front/app/package.json
Labels: フロントエンド

fix-rt
  server/requirements.txt
Labels: バックエンド

revert
  front/app/next.config.js
Labels: フロントエンド

fix procfile
  server/Procfile
Labels: バックエンド

rm sudo
  server/Procfile
Labels: バックエンド

revert
  server/Procfile
Labels: バックエンド

fix
  server/app/models/db/property_db.py
Labels: バックエンド

get_user_by_nameなおした
  db/01_schema.sql
  front/app/src/components/top/LoggedInTop.tsx
  server/app/controllers/user.py
  server/app/models/db/user_db.py
Labels: バックエンド, フロントエンド, DB

height fix
  front/app/src/components/top/LoggedInTop.tsx
  front/app/src/components/top/LoggedOutTop.tsx
Labels: フロントエンド

fix bug of get me
  front/app/pages/users/register/index.tsx
  server/app/models/db/user_db.py
Labels: バックエンド, フロントエンド

revert
  server/app/models/db/user_db.py
Labels: バックエンド

one to first
  server/app/controllers/user.py
  server/app/models/db/user_db.py
Labels: バックエンド

fix map height
  front/app/pages/properties/index.tsx
  front/app/src/components/properties/BookmarkSection.tsx
  front/app/src/components/properties/Map.tsx
  front/app/src/components/properties/PropertySearchSection.tsx
Labels: フロントエンド

overflow layout
  front/app/src/components/properties/BookmarkSection.tsx
Labels: フロントエンド

delete-filter
  front/app/pages/advice/index.tsx
Labels: フロントエンド

lint
  front/app/pages/advice/index.tsx
Labels: フロントエンド
