Repository project-hikkoshiori/hikkoshiori, changes with the labels that .github/labeler.yml gives for each.
All labels: 環境整備, CI/CD, バックエンド, フロントエンド, DB

use returned id
  front/app/src/components/houseKeep/HouseKeepSection.tsx
Labels: フロントエンド

hide deletebutton on is_prepared
  front/app/src/components/houseKeep/HouseKeepRow.tsx
Labels: フロントエンド

add cascade
  db/01_schema.sql
Labels: DB

move button
  front/app/pages/housekeep/index.tsx
  front/app/src/components/houseKeep/HouseKeepList.tsx
Labels: フロントエンド

refetch after reset
  front/app/pages/housekeep/index.tsx
  front/app/src/api/HousekeepAPI.tsx
  front/app/src/components/houseKeep/HouseKeepList.tsx
Labels: フロントエンド

post init when empty
  front/app/pages/housekeep/index.tsx
  front/app/src/api/HousekeepAPI.tsx
Labels: フロントエンド

fix scroll layout
  front/app/src/components/houseKeep/HouseKeepList.tsx
Labels: フロントエンド

add func to delete button
  front/app/src/api/HousekeepAPI.tsx
  front/app/src/components/houseKeep/HouseKeepList.tsx
Labels: フロントエンド

minisum
  front/app/src/components/houseKeep/HouseKeepList.tsx
  front/app/src/components/houseKeep/HouseKeepSection.tsx
Labels: フロントエンド

add delete all function
  server/app/controllers/housekeep.py
  server/app/models/db/housekeep_db.py
Labels: バックエンド

外観, 間取り, キッチンをとりあえず名寄せ
  server/app/controllers/property_collector.py
Labels: バックエンド

fix 間取り図 -> 間取
  server/app/tests/test_property_collector.py
Labels: バックエンド

Merge 01_schema.sql from main
  db/01_schema.sql
Labels: DB

homesも名寄せ
  server/app/controllers/property_collector.py
Labels: バックエンド

bookmark部分をつないだ
  front/app/src/components/properties/BookmarkSection.tsx
Labels: フロントエンド

userがundefinedな場合を想定
  front/app/src/components/properties/BookmarkSection.tsx
Labels: フロントエンド

filterできるようになった
  front/app/src/api/PropertyAPI.tsx
  front/app/src/components/properties/Map.tsx
  front/app/src/components/properties/PropertyRentHist.tsx
  front/app/src/components/properties/PropertySearchSection.tsx
  server/app/controllers/property.py
  server/app/models/db/property_db.py
Labels: バックエンド, フロントエンド

改行の表示を消した
  front/app/src/components/properties/BookmarkWindow.tsx
  front/app/src/components/properties/PropertySearchWindow.tsx
Labels: フロントエンド

set icon button
  front/app/src/components/properties/BookmarkWindow.tsx
  front/app/src/components/properties/PropertySearchWindow.tsx
Labels: フロントエンド

add APIs
  front/app/src/api/BookmarkedPropertyAPI.tsx
Labels: フロントエンド

add onClick Action
  front/app/src/api/BookmarkedPropertyAPI.tsx
  front/app/src/components/properties/BookmarkWindow.tsx
  front/app/src/components/properties/PropertySearchWindow.tsx
Labels: フロントエンド

add property colomn "image_src"
  db/01_schema.sql
  db/02_data.sql
  docs/ER.md
  server/app/controllers/property.py
  server/app/controllers/property_collector.py
  server/app/models/db/property_db.py
  server/app/models/schemas/property.py
Labels: 環境整備, バックエンド, DB

add type
  front/app/src/utils/types.ts
Labels: フロントエンド

use new hook
  front/app/src/components/properties/PropertySearchSection.tsx
  front/app/src/components/properties/PropertySearchWindow.tsx
  front/app/src/hook/usePropertyWithBookmark.tsx
Labels: フロントエンド

fix error message condition
  front/app/src/components/properties/PropertySearchSection.tsx
  front/app/src/hook/usePropertyWithBookmark.tsx
Labels: フロントエンド

available togglle on bookmark list
  front/app/src/components/properties/BookmarkWindow.tsx
Labels: フロントエンド

fix homes image_src uri
  server/app/controllers/property_collector.py
Labels: バックエンド

fix image_src set as optional variable
  server/app/models/schemas/property.py
Labels: バックエンド

clickable on map
  front/app/src/components/properties/BookmarkWindow.tsx
  front/app/src/components/properties/Map.tsx
  front/app/src/components/properties/PropertySearchMap.tsx
Labels: フロントエンド

use useGetBookmarkedProperties for map
  front/app/src/components/properties/BookmarkSection.tsx
Labels: フロントエンド

use correct user_Id
  front/app/src/components/properties/BookmarkWindow.tsx
  front/app/src/components/properties/PropertySearchSection.tsx
  front/app/src/components/properties/PropertySearchWindow.tsx
Labels: フロントエンド

fix unregistered search error
  front/app/src/hook/usePropertyWithBookmark.tsx
Labels: フロントエンド

toast alert on unregisterd bookmark action
  front/app/src/components/properties/BookmarkWindow.tsx
  front/app/src/components/properties/PropertySearchWindow.tsx
Labels: フロントエンド

check login on bookmark list
  front/app/src/components/properties/BookmarkSection.tsx
Labels: フロントエンド

add type
  front/app/src/utils/types.ts
Labels: フロントエンド

user全件取得止めた
  front/app/src/api/UserAPI.tsx
  front/app/src/components/top/LoggedInTop.tsx
  server/app/controllers/user.py
  server/app/models/db/user_db.py
Labels: バックエンド, フロントエンド

show image on search section
  front/app/src/components/properties/PropertySearchWindow.tsx
Labels: フロントエンド

session部分の修正
  front/app/src/components/properties/BookmarkSection.tsx
  front/app/src/components/properties/BookmarkWindow.tsx
  front/app/src/components/properties/PropertySearchSection.tsx
  front/app/src/components/properties/PropertySearchWindow.tsx
Labels: フロントエンド

show image on bookmark section
  front/app/src/components/properties/BookmarkWindow.tsx
Labels: フロントエンド

getUsers消した
  front/app/src/api/UserAPI.tsx
Labels: フロントエンド

.github/labeler.yml:

環境整備:
  - docs/**/*
CI/CD:
  - .github/**/*
バックエンド:
  - server/**/*
フロントエンド:
  - front/**/*
DB:
  - db/**/*
